<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="Index.css" />
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/styles.css">
        <title>Cancer Prediction</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark text-white">
            <a class="navbar-brand m-3">Tutorial: Machine Learning in Biotechnology</a>
            <form class="flex padding-right-3">
                <a class="ghicon" href="https://www.github.com"><svg style="color:white" xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                  </svg></a>
              </form>
        </nav>
        <div class="container-fluid container bg-light justify-content-center text-center">
            <h1 class="m-4">Breast Cancer Prediction</h3>
                <h3>"Predict the Diagnosis using a Previously Trained Model"</h3>
                <form action="{{ url_for('prediction')}}" method="post">
                <div>
                    <label for="paragraphs">Enter paragraphs here:</label>
                </div>
                
                <input type="text" id="radius_mean" name="radius_mean" placeholder="radius_mean"  rows="6" cols="80" required="required"> </input>
                <input type="text" id="texture_mean" name="texture_mean" placeholder="texture_mean"  rows="6" cols="80" required="required"> </input>
                <input type="text" id="smoothness_mean" name="smoothness_mean" placeholder="smoothness_mean"  rows="6" cols="80" required="required"> </input>
                <input type="text" id="texture_se" name="texture_se" placeholder="texture_se"  rows="6" cols="80" required="required"> </input>
                <input type="text" id="smoothness_se" name="smoothness_se" placeholder="smoothness_se"  rows="6" cols="80" required="required"> </input>
                <input type="text" id="symmetry_se" name="symmetry_se" placeholder="symmetry_se"  rows="6" cols="80" required="required"> </input>
                
                <div class="m-3">
                    <button type="submit" class="btn btn-primary col-2">Get Prediction!</button>
                    <input type="reset" value="Reset" class="btn btn-outline-danger col-2">
                </div>
                <div>
                    <h3>Diagnosis:</h3>
                    
                    <h5 class = "prediction">{{prediction_text}}</h5>
                </div>
            </form>
        </div>
    </body>
</html>